@{
}

@model Book

<div class="card card-outline-primary m-1 p-1">
    <div class="bg-light p-1">
        <span class="display-3">@Model.Title</span>

        <span class="display-6" style="float:right">
            @Model.Author
        </span>
    </div>

    <ul class="text-muted">

        <li>Publisher: @Model.Publisher</li>
        <li>ISBN: @Model.Isbn</li>
        <li>Classification: @Model.Classification</li>
        <li>Category: @Model.Category</li>
        <li>Page Count: @Model.PageCount</li>
        <li>Price: @Model.Price</li>
    </ul>

    <form method="post" asp-page="/AddBook">

        <!-- these inputs only hold information and are not for the user -->
        <input type="hidden" asp-for="@Model.BookId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()"/>

        <span class="card-text">
            <button type="submit" class="btn btn-success btn-sm float-end">Buy Book</button>
        </span>
    </form>
</div>